# --- Python / Django ---
__pycache__/
*.py[cod]
db.sqlite3
venv/
.env
.DS_Store

# --- Node / React ---
node_modules/
dist/
.env.local
.eslintcache

# --- System ---
.vscode/
backend/.idea/
extract_code.py
project_code_dump.txt


docs/
dump.rdb
